@import url("https//fonts.googleapis.com/css?family=RobotoCondensed");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #00f;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  height: 90vh;
}
canvas {
  margin: 0 auto;
  display: block;
letter-spacing3px
  position: relative;
}
.glitched {
  display: none;
}
