@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

*{
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
  background-color: black;
  overflow: hidden;
  
}

.container {
  display: flex;
  align-items: center
}

canvas {
  margin: 150px auto;  
  display: block;
  letter-spacing:3px;
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

